<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }} - a community of people building open source church software</title>
    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="msvalidate.01" content="9A1EE332F80BB9A589EFF7329E2928F5" />
    <link rel="stylesheet" media="screen" href="/stylesheets/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" media="screen" href="/stylesheets/screen.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Abel|Architects+Daughter|Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <link rel="image_src" href="http://church.io/images/logo.png" />
    <script type="text/javascript" src="/javascripts/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
    {% if site.feedburner %}
      <link href="http://feeds.feedburner.com/{{ site.feedburner.id }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
    {% endif %}
    {% if site.google_analytics %}
      <!-- google analytics async -->
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    {% endif %}
  </head>
  <body>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
      <script type="text/javascript">
        $(function() {
          CFInstall.check({mode: "overlay"});
        });
      </script>
    <![endif]-->
    <header>
      <div class="container">
        <nav>
          <a href="/" class="btn">Home</a>
          <a href="https://github.com/churchio" class="btn">Code</a>
        </nav>
        <a href="/"><img src="/images/logo.png" class="logo"/></a>
        <a href="/"><h1>{{ site.title|upcase }}</h1></a>
        <div class="tagline">{{ site.tagline }}</div>
      </div>
    </header>
    <article id="main">
      <div class="container">
        {{ content }}
      </div>
    </article>
    <footer>
      Copyright &copy; 2011, <a href="http://timmorgan.org">Tim Morgan</a> and <a href="http://tjrm.org">TJRM, Inc</a>.
      Website source available on <a href="https://github.com/churchio/website">GitHub</a>.<br/>
      GitHub, Ruby, PostgreSQL, Heroku and Facebook logos remain copyright and trademark their respective owners.
      Background image by <a href="http://behindmyscenes.com/">Atle Mo</a>.
    </footer>
  </body>
</html>
