---
layout: default
---
<div class="row">
  <div class="span12">
    <div class="post">
      {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
      {{ content }}
    </div>
     
    {% if false %}
    <div id="related">
      <h2>Related Posts</h2>
      <ul class="posts">
        {% for post in site.related_posts limit:5 %}
          <li><span>{{ post.date | date_to_string }}</span> - <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if site.disqus %}
    <div id="comments">
      <h2>Comments</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_identifier = "{{ page.url }}";
        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = 'http://{{ site.disqus.id }}.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript={{ site.disqus.id }}">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    {% endif %}
  </div>

  <div class="span3 offset1 sidebar">
    <h3>Meta</h3>
    {% if page.date %}
      <p>
        Posted on {{ page.date | date_to_string }}{% if page.last_updated %}, last updated on {{ page.last_updated | date_to_string }}{% endif %}
      </p>
    {% endif %}

    {% if page.author %}
      <p>
        Written by <a href="{{ page.authorurl }}">{{ page.author }}</a>.
      </p>
    {% endif %}

    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>

    <h3>Comments</h3>
    <p>
      <strong>Disabled.</strong>
      <em>We're working to re-enable comments on this site and
      import all the old ones. Sorry for the inconvenience.</em>
    </p>
  </div>
</div>
